:root {
  --primary: rgb(224, 186, 79);
  --bg: rgb(255, 255, 255);
  --color1: rgb(4, 89, 146);
  --color2: #fada7a;
  --color3: #f5f0cd;
  --color4: #81bfda;
  --color5: #b1f0f7;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-padding-top: 80px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--color1);
  overflow-x: hidden;
  width: 100%;
}

p {
  text-align: justify;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 229, 248);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /* position: sticky; */
  /* top: 0; */
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--color1);
}

.navbar .navbar-logo img {
  width: 5rem;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--color1);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
  transition: 0.2s linear;
}

.navbar .navbar-nav a.active::after {
  transform: scaleX(1);
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--color1);
}

.navbar-extra a#hamburger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: url(../img/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: var(--color4);
  position: relative;
  color: var(--bg);
}

.hero::after {
  content: "";
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgb(255, 255, 255) 3%, rgba(255, 255, 255, 0) 30%);
}

.hero .content {
  max-width: 60rem;
  padding: 1.4rem 7%;
}

.hero .content h1 {
  font-size: 5em;
  text-shadow: 1px 1px 2px var(--primary);
  line-height: 1.1;
}

.hero .content h1 span {
  color: var(--bg);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 200;
  text-shadow: 1px 1px 2px var(--primary);
}

.hero .content .cta {
  color: var(--primary);
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--bg);
  padding: 0.7rem 2.5rem;
  border-radius: 999px;
  box-shadow: 0px 0px 2px var(--primary);
}
/* hero section end */

/* service section start */
section.tentang h2,
section.service h2,
section.instruktur h2,
section.details h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 20px 0 0;
}

section.service h2 span,
section.instruktur h2 span,
section.details h2 span {
  color: var(--primary);
}

section.service .row {
  padding: 80px 50px;
  display: flex;
}

section.service .service-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.service .service-image,
.service .service-deskripsi {
  flex: 1;
}

.service .service-image img {
  width: 100%;
}

.service .service-deskripsi h3 {
  color: var(--color1);
  font-size: 2rem;
}

.service .service-deskripsi p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-block: 1rem;
}

.service .service-deskripsi .btn {
  display: block;
  color: var(--color1);
  font-size: 1.5rem;
  transition: 0.3s;
  width: fit-content;
}

.service .service-deskripsi a.btn::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s;
}

.service .service-deskripsi .btn:hover {
  color: var(--primary);
}

.service .service-deskripsi .btn:hover::after {
  transform: scaleX(1);
}
/* service end */

/* insturktur start */
section.instruktur .row {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.instruktur .row .card {
  width: 25rem;
  padding: 20px;
  text-align: center;
}

.instruktur .row .card .card-image {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 3px gray;
  border-radius: 50%;
  overflow: hidden;
}

.instruktur .row .card-image img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.instruktur .row .card-deskripsi {
  margin-block: 1rem;
}

.instruktur .row .card-deskripsi h3 {
  font-size: 1.5rem;
  text-align: center;
}

.instruktur .row .card-deskripsi p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
/* insturktur end */

/* details start */
section.details {
  padding: 20px;
}

section.details h2 {
  margin-bottom: 1.3rem;
}

section.details .section-details {
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
}

section.details .detail-inggris {
  width: 100%;
  background-color: var(--color5);
}

section.details .detail-jepang {
  width: 100%;
  background-color: var(--color2);
}

section.details .section-details .detail-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section-details .details-images {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-details .details-images img {
  width: 100%;
}

.section-details .details-deskripsi {
  flex: 1.5;
}

.section-details .details-deskripsi h3:nth-child(1) {
  font-size: 2.2rem;
}

.section-details .details-deskripsi h3 {
  font-size: 1.7rem;
}

.section-details .details-deskripsi p {
  font-size: 1.5rem;
  font-weight: 300;
}

.section-details .details-deskripsi .details-sarana,
.section-details .details-harga {
  width: 100%;
  display: flex;
  margin-block: 30px;
  justify-content: space-around;
  gap: 20px;
}

.detail-jepang .details-harga {
  justify-content: flex-start;
}

.details-deskripsi h4 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.details-deskripsi ul {
  padding-left: 30px;
  font-size: 1.2rem;
}

.details-deskripsi .details-sarana .detail-jadwal,
.details-deskripsi .details-sarana .detail-fasilitas,
.details-deskripsi .details-sarana .detail-benefit,
.details-harga .beginner,
.details-harga .elementary,
.details-harga .basic-working,
.details-harga .intermediate {
  padding: 10px;
  border-radius: 15px;
}

.details-deskripsi .detail-jadwal {
  background-color: rgb(248, 248, 248);
}

.details-deskripsi .detail-fasilitas {
  background-color: rgb(247, 255, 137);
}

.details-deskripsi .detail-benefit {
  background-color: rgb(168, 255, 110);
}

.section-details .details-harga .beginner {
  background-color: rgb(175, 255, 231);
}

.section-details .details-harga .elementary {
  background-color: rgb(98, 171, 255);
}

.section-details .details-harga .intermediate {
  background-color: rgb(138, 237, 255);
}

.section-details .details-harga .basic-working {
  background-color: rgb(226, 154, 255);
}

.section-details .details-harga h5 {
  margin-top: 1rem;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color1);
  color: #ffffff;
}

/* details end */

/* footer */
footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--color4);
  color: white;
}

footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
}

footer .lokasi {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

footer .lokasi .peta {
  width: 20rem;
  height: 20rem;
  border: 2px solid var(--color1);
}

footer .lokasi .peta iframe {
  width: 100%;
  height: 100%;
}

footer .lokasi p {
  padding: 10px;
  font-size: 1.5rem;
  width: 30rem;
}

footer a {
  color: var(--primary);
}

footer a:hover {
  color: var(--bg);
}

footer .supporter h2 {
  color: var(--color1);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  width: fit-content;
  border-bottom: 1px solid var(--color1);
}

footer .supporter .items {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

footer .supporter .item {
  width: fit-content;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 5px 9px 2px rgba(218, 218, 218, 0.726);
  border-radius: 10px;
}

footer .supporter .item img {
  width: 100%;
  width: 20rem;
}

footer .copyright p {
  text-align: center;
  width: 100%;
}

/* footer end */

/* media */
/* laptop */
@media (max-width: 1440px) {
  html {
    font-size: 85%;
  }
}

/* tablet */
@media (max-width: 900px) {
  html {
    font-size: 62.5%;
  }

  .navbar a#hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav a {
    color: var(--color1);
    display: block;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
    width: fit-content;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scale(1);
  }

  .navbar .navbar-nav.active {
    right: 0;
    color: #010101;
  }

  section.tentang .row {
    flex-direction: column;
  }

  section.service .row {
    flex-direction: column;
    align-items: center;
  }

  section.service .row .service-image {
    order: 1;
    text-align: center;
    width: 70%;
  }

  section.service .row .service-deskripsi,
  .section-details .detail-content .details-deskripsi {
    width: 100%;
    order: 2;
  }

  section.service .row .service-deskripsi h3 {
    font-size: 2.3rem;
  }

  section.service .row .service-deskripsi p {
    font-size: 1.6rem;
  }

  .section-details .detail-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-details .detail-content .details-images {
    width: 50%;
    padding: 2rem;
  }

  .detail-content .details-deskripsi .details-sarana {
    justify-content: flex-start;
  }
}

/* mobile */
@media (max-width: 680px) {
  html {
    font-size: 55%;
  }

  .navbar .search-form {
    width: 90%;
  }

  section.service .row .service-image,
  .section-details .detail-content .details-images {
    width: 90%;
  }

  section.instruktur .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.instruktur .row .card {
    width: 30rem;
  }

  .detail-content .details-deskripsi .details-sarana {
    flex-direction: column;
  }

  .section-details .details-harga {
    flex-direction: column;
  }

  footer .lokasi {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
