:root {
  --primary: rgb(58, 58, 58);
  --bg: rgb(255, 255, 255);
  --color1: rgb(3, 99, 163);
  --color2: #eecc67;
  --color3: #f5f0cd;
  --color4: #81bfda;
  --color5: #b1f0f7;
}

.container {
  margin-bottom: 2rem;
}

.container section.headline {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--color4);
  color: white;
  text-shadow: 0 2px 3px var(--color2);
}

.container section.headline h2 {
  font-size: 3rem;
  font-weight: 400;
}

.container section.headline p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.content {
  display: flex;
  padding: 4rem;
  align-items: center;
}

.content .content-deskripsi h3 {
  width: fit-content;
  font-size: 3rem;
  border-bottom: 2px solid var(--color1);
  text-shadow: 0 1px 3px var(--color2);
}

.content .content-deskripsi h4 {
  font-weight: 400;
  color: var(--color4);
  margin-bottom: 1rem;
  /* font-size: 1.5rem; */
}

.content .content-deskripsi p {
  font-size: 1.3rem;
  color: black;
}

.content .content-deskripsi p span {
  color: var(--color1);
  font-weight: bold;
}

.content .content-image img {
  width: 35rem;
}

.container section.visi-misi {
  padding: 4rem;
}

section.visi-misi > h3 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 1px 3px var(--color2);
  border-bottom: 2px solid var(--color1);
  width: fit-content;
}

section.visi-misi > h4 {
  color: var(--color4);
  margin-bottom: 2rem;
}

section.visi-misi ul.visi h2,
section.visi-misi ul.misi h2 {
  font-size: 2.5rem;
  text-shadow: 0 1px 3px var(--color2);
  margin-bottom: 0.7rem;
}

section.visi-misi ul {
  list-style: none;
  margin-bottom: 1rem;
}

section.visi-misi ul li {
  font-size: 1.2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.3rem;
  color: black;
}

/* responsive */
@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .content .content-deskripsi {
    order: 2;
  }

  .content .content-deskripsi p {
    font-size: 1.7rem;
  }

  .content .content-image {
    order: 1;
  }
  .content .content-image img {
    width: 50rem;
  }
}
